<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE launch>
<launch>
  <arg name="namespace"           default="camera"/>
  <arg name="filters"             default="disparity,spatial,temporal"/>
  
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
    <arg name="filters" value="$(arg filters)"/>
  </include>
  
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/>

  <!-- <node pkg="nodelet" type="nodelet" name="convert_depth_to_m"
        args="load depth_image_proc/convert_metric standalone_nodelet">
        <remap from="image_raw" to="$(arg namespace)/aligned_depth_to_color/image_raw"/>
        <remap from="image" to="$(arg namespace)/depth/image_meters"/>
  </node> -->

  <node pkg="nodelet" type="nodelet" name="convert_depth_to_m"
        args="load depth_image_proc/convert_metric standalone_nodelet">
        <remap from="image_raw" to="$(arg namespace)/depth/image_rect_raw"/>
        <remap from="image" to="$(arg namespace)/depth/image_meters"/>
  </node>

  <!-- <node pkg="nodelet" type="nodelet" name="convert_depth_to_m_2"
        args="load depth_image_proc/convert_metric standalone_nodelet">
        <remap from="image_raw" to="$(arg namespace)/aligned_depth_to_color/image_raw"/>
        <remap from="image" to="$(arg namespace)/depth/image_meters_aligned"/>
  </node> -->

  <node pkg="tf" type="static_transform_publisher" name="realsense_link_broadcaster"
        args="0.040 -0.0175 0.066 3.1415 -1.571 0 /panda_hand /camera_link 100" />

  <node name="configure_temporal_filter" pkg="dynamic_reconfigure" type="dynparam"
    args="set_from_parameters camera/temporal">
      <param name="filter_smooth_delta" value="50" />
      <param name="filter_smooth_alpha" value="0.1"/>
      <param name="holes_fill"          value="3"  />
    </node>
</launch>